.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999; /* Ensure loader is on top of everything */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity for blur effect */
  backdrop-filter: blur(8px); /* Apply blur effect */
}

.loader {
  z-index: 10000; /* Ensure loader is above background */
}
