<div class="wrapper">
    <div class="section">
        <div class="container">
            <article [innerHTML]="markdownContent"></article>
        </div>
    </div>
    <div class="sidebar" style="padding-top: 30px;">
        <!-- <app-loader *ngIf="isLoading"></app-loader> -->
        <div class="profile">
            <h3 style="margin-bottom: 20px;"><strong>Rohit's Blog</strong></h3>
            <img src="../../assets/img/rahul_passport_size.jpg" alt="profile_picture">
            <h3>Rohit Kawari</h3>
            <p>Software Engineer</p>
            <div>
                <i>

                </i>
            </div>
            <hr style="color: white; height: 1px; margin-top:25px" />
            <p class="sidebar-list-main-topic" data-bs-toggle="collapse" data-bs-target="#angular-sublist" aria-expanded="false" aria-controls="collapseExample">
                Angular
            </p>
            <div class="collapse show sidebar-list-sub-topic" id="angular-sublist">
                <span *ngFor="let topic of angularTopics"> 
                    <div *ngIf="topic.subTopics.length > 0">    
                        <div data-bs-toggle="collapse" role="button" data-bs-target="#angular-subtopiclist" aria-expanded="false" aria-controls="collapseExample">{{topic.mainTopic}}</div>
                        <div class="collapse sidebar-list-sub-subtopic" id="angular-subtopiclist">
                            <span *ngFor="let subTopic of topic.subTopics" class="d-block"  role="button" [routerLink]="['/blog']" [queryParams]="{file:subTopic.fileName}">{{subTopic.name}}</span>
                        </div>
                    </div>
                    <div *ngIf="topic.subTopics.length == 0">
                        <span role="button" [routerLink]="['/blog']" [queryParams]="{file:topic.fName}">{{topic.mainTopic}}</span>
                    </div>
                </span>
            </div>

            <p class="sidebar-list-main-topic" data-bs-toggle="collapse" data-bs-target="#node-sublist" aria-expanded="false" aria-controls="collapseExample">
                Node
            </p>
            <div class="collapse show sidebar-list-sub-topic" id="node-sublist">
                <span *ngFor="let topic of nodeTopics"> 
                    <div *ngIf="topic.subTopics.length > 0">
                        <div data-bs-toggle="collapse" role="button" data-bs-target="#node-subtopiclist" aria-expanded="false" aria-controls="collapseExample">{{topic.mainTopic}}</div>
                        <div class="collapse sidebar-list-sub-subtopic" id="node-subtopiclist">
                            <span *ngFor="let subTopic of topic.subTopics" class="d-block"  role="button" [routerLink]="['/blog']" [queryParams]="{file:subTopic.fileName}">{{subTopic.name}}</span>
                        </div>
                    </div>
                    <div *ngIf="topic.subTopics.length == 0">
                        <span role="button" [routerLink]="['/blog']" [queryParams]="{file:topic.fName}">{{topic.mainTopic}}</span>
                    </div>
                </span>
            </div>

            <p class="sidebar-list-main-topic"data-bs-toggle="collapse" data-bs-target="#dotnet-sublist" aria-expanded="false" aria-controls="collapseExample">
                C# Dot Net
            </p>

            <div class="collapse show sidebar-list-sub-topic" id="dotnet-sublist">
                <span *ngFor="let topic of dotNetTopics; let i = index"> 
                    <div *ngIf="topic.subTopics.length > 0">
                        <div data-bs-toggle="collapse" role="button" [attr.data-bs-target]="'#dotnet-subtopiclist-' + i" aria-expanded="false" [attr.aria-controls]="'dotnet-subtopiclist-' + i">{{topic.mainTopic}}</div>
                        <div class="collapse sidebar-list-sub-subtopic" [attr.id]="'dotnet-subtopiclist-' + i">
                            <span *ngFor="let subTopic of topic.subTopics" class="d-block" role="button" [routerLink]="['/blog']" [queryParams]="{file:subTopic.fileName}">{{subTopic.name}}</span>
                        </div>
                    </div>
                    <div *ngIf="topic.subTopics.length == 0">
                        <span role="button" [routerLink]="['/blog']" [queryParams]="{file:topic.fName}">{{topic.mainTopic}}</span>
                    </div>
                </span>
                
                <!-- <span *ngFor="let topic of dotNetTopics"> 
                    <div class="fw-bold" data-bs-toggle="collapse" data-bs-target="#dotnet-subtopiclist" role="button" aria-expanded="false" aria-controls="collapseExample">{{topic.mainTopic}}</div>
                    <div class="collapse sidebar-list-sub-subtopic" id="dotnet-subtopiclist">
                        <span *ngFor="let subTopic of topic.subTopics" class="d-block"  role="button" [routerLink]="['/blog']" [queryParams]="{file:subTopic.fileName}">{{subTopic.name}}</span>
                    </div>
                </span> -->
            </div>
        </div>

    </div>

</div>