<div class="wrapper">
    <div class="section">
        <div class="container">
            <article [innerHTML]="markdownContent"></article>
        </div>
    </div>
    <div class="sidebar" style="padding-top: 30px;">
        <div class="profile">
            <h3 style="margin-bottom: 20px;"><strong>Rohit's Blog</strong></h3>
            <img src="../../assets/img/rahul_passport_size.jpg" alt="profile_picture">
            <h3>Rohit Kawari</h3>
            <p>Software Engineer</p>
            <div>
                <i>

                </i>
            </div>
            <hr style="color: white; height: 1px; margin-top:25px" />
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Button with data-target
            </button>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
              </div>
        </div>

    </div>

</div>