<div class="wrapper">
    <div class="section">
        <div class="container">
            <article [innerHTML]="markdownContent"></article>
        </div>
    </div>
    <div class="sidebar" style="padding-top: 30px;">
        <!-- <app-loader *ngIf="isLoading"></app-loader> -->
        <div class="profile">
            <h3 style="margin-bottom: 20px;"><strong>Rohit's Blog</strong></h3>
            <img src="../../assets/img/rahul_passport_size.jpg" alt="profile_picture">
            <h3>Rohit Kawari</h3>
            <p>Software Engineer</p>
            <div>
                <i>

                </i>
            </div>
            <hr style="color: white; height: 1px; margin-top:25px" />
            <p class="sidebar-list-main-topic"data-bs-toggle="collapse" data-bs-target="#angular-sublist" aria-expanded="false" aria-controls="collapseExample">
                Angular
            </p>
            <div class="collapse show sidebar-list-sub-topic" id="angular-sublist">
                <span *ngFor="let topic of angularTopics" role="button" [routerLink]="['/angular-introduction']" [queryParams]="{file:topic.fileName}"> {{topic.name}}</span>
                <!-- <a [routerLink]="['/angular-introduction']" [queryParams]="{file:'Angular Navigation and Routing.md'}">Angular Router and Navigation</a> -->
            </div>

            <p class="sidebar-list-main-topic"data-bs-toggle="collapse" data-bs-target="#dotnet-sublist" aria-expanded="false" aria-controls="collapseExample">
                Dot Net
            </p>
            <div class="collapse show sidebar-list-sub-topic" id="dotnet-sublist">
                <span *ngFor="let topic of dotNetTopics" role="button" [routerLink]="['/angular-introduction']" [queryParams]="{file:topic.fileName}"> {{topic.name}}</span>
                <!-- <a [routerLink]="['/angular-introduction']" [queryParams]="{file:'Angular Navigation and Routing.md'}">Angular Router and Navigation</a> -->
            </div>
        </div>

    </div>

</div>